/* Font  */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */

.bg-secondary {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark1 {
    color: #181818;
}

.dark2 {
    color: #474747;
}

.dark3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 800;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;

}

.btn-secondary {
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;

}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.section-description {
    font-size: 18px;
    color: #757575;
    text-align: center;
}


/* Header Styles */

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

/* Nav Styles */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 85px 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}


/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-content {
    max-width: 580px;
}

.name {
    margin-top: 80px;
}

.banner-greetings {
    font-size: 45px;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-profile-pic {
    width: 580px;
    height: 670px;
    margin-top: 45px;
    margin-bottom: -5px;
}


/* main styles */

main {
    max-width: 1140px;
    margin: 0px auto;
}


/* About Styles */

.about {
    text-align: center;
    padding: 130px 150px;
    border-radius: 10px;
    margin-top: 130px;
}

.section-elements {
    background-color: rgb(255, 255, 255);
}

.section-title,
.section-description {
    margin-bottom: 30px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.about-title {
    font-size: 20px;
    color: #757575;

}

.about-description {
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}


/* skills section  */

.skills-title {
    margin-top: 130px;
}

.skills-description {
    margin: 0px auto;
    padding: 0px 116px;
    margin-top: 30px;
}

.skills-container {
    display: flex;
    /* justify-content: space-around;*/
    gap: 24px;
    margin-top: 50px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-title {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}

.skill-description {
    font-size: 16px;
    color: #757575;
}

/* Remuse Styles  */

.resume {
    margin-top: 130px;
}

.resume-container {
    display: flex;
    gap: 24px;
    margin: 110px auto 0px auto;
}

.resume-column-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 0px;
}

.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-btn {
    text-align: center;
    margin-top: 50px;
}


/* Footer style  */

footer {
    display: flex;
    gap: 115px;
    padding: 130px 230px;
    margin-top: 110px;
}

.footer-title {
    font-size: 30px;
    font-weight: bold;
    color: #181818;
}

footer p {
    font-size: 16px;
    color: #757575;
    max-width: 560px;
}

footer input,
textarea {
    width: 460px;
    height: 64px;
    margin-bottom: 24px;
    border: none;
    padding: 18px 0px 18px 30px;
    font-size: 16px;
    color: #757575;
    display: block;
}

textarea {
    height: 180px;

}

#submit {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 800;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    max-width: 220px;

}

.hide {
    display: none;
}

@media screen and (max-width: 576px) {

    .skills-container,
    .resume-container,
    footer,
    .about-items,
    .banner,
    .nav-bar {
        flex-direction: column;
    }

    .banner,
    .nav-bar {
        margin: 20px;
    }

    .name {
        margin-top: 0px;
    }


    footer,
    .about,
    .resume-container,
    .skills-description {
        padding: 20px;
    }

    .banner-content .btn-primary {
        margin-bottom: 10px;
    }

    footer input,
    textarea {
        width: calc(100% - 40px);
    }

    .banner-profile-pic {
        width: 100%;
        height: 100%;
    }

    .header {
        background-image: none;
    }

    nav ul {
        padding: 10px;
        gap: 20px;
    }

    nav ul li {
        margin: 0;

    }
}